.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 400px;
}

.divider {
  width: 1px;
  height: 60px; /* Adjust the height as needed */
  background-color: white;
  opacity: 0.5;
}

.cartContainer {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  width: 400px;
  height: 220px;
  border-radius: 12px;
  background-color: #f8f9fd;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  padding-top: 20px;
  color: #22c55e;
  font-size: 40px;
  margin-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.description {
  color: #64607d;
  font-weight: 500;
  font-size: 16px;
}

.sectionTitle {
  font-weight: 700;
  font-size: 32px;
  color: black;
  text-align: center;
  margin-bottom: 70px;
}

/* Main container styling */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #0b3b4b; /* Dark blue background */
  height: 100vh;
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Search bar styling */
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  width: 400px;
}

.input-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-icon {
  margin-right: 10px;
  font-size: 18px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px;
  color: #333;
}

input::placeholder {
  color: #b0b0b0;
}

/* Filter button styling */
.filter-btn {
  background-color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #e0e0e0;
}
